{% extends 'core/base.html' %}

{% block title %} Shop {% endblock %} 

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="filters w-full lg:w-1/4">
        <h3 class="mb-3 text-xl uppercase">Search</h3>

        <form method="get" action=".">
            <div class="flex">
                <input type="text" name="query" class="p-4 bg-gray-100 border-0" placeholder="Search...">

                <button class="p-4 bg-gray-100 border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                      </svg>
                </button>
            </div>
        </form>

        <h3 class="mt-6 mb-3 text-xl uppercase">Categories</h3>

        <ul class="space-y-2">
            <li><a href="{% url 'shop' %}" class="{% if not active_category %} text-purple-500 {% else %} text-gray-500{% endif %}">All categories</a></li>
            {% for c in categories %}
            <li><a href="{% url 'shop' %}?category={{ c.slug }}" class="{% if c.slug == active_category %} text-purple-500 {% else %} text-gray-500{% endif %}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="products w-full lg:w-3/4 -nt-4 flex items-center flex-wrap">
        {% for p in products %}
            {% include 'product/partials/product_list_item.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}